*,
*:before,
*:after {
	outline: unset;
	box-sizing: border-box;
	font-weight: 400;
}
button {
	cursor: pointer;
}

html,
body {
	height: 100%;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
	font-family: "Suisse-Intl", sans-serif;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	transition: .3s;
	&.blur {
		filter: blur(5px);
	}
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 176px;
}





